.products {
	margin: 20px;
}

.product {
	text-align: center;
	width: 500px;
	height: 250px;
	border: 1px solid black;
	margin: 20px auto;
	transition: 0.1s all;
}

.product:hover {
	transform: scale(1.05);
}

.product ul {
	list-style: none;
	padding: 0;
}

.profile-image {
	width: 450px;
	height: auto;
	margin-left: 20px;
}

.thumb {
	width: 35%;
	height: auto;
	margin: 0 auto;
}